<!DOCTYPE html>
<html lang="en" ng-app="CartApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart App</title>
    <!--<script src="/jquery/dist/jquery.min.js"></script>-->
    <link rel="stylesheet" href="/main.css">
    <!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">-->
    <!--<script src="/bootstrap/dist/js/bootstrap.js"></script>-->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/client.js"></script>
    <script src="/SListSvc.js"></script>
</head>

<body ng-controller="CartCtrl as cartCtrl">
    <form name="CartForm" novalidate ng-submit="cartCtrl.checkoutCart()">
        Qty:
        <input type="text" ng-model="cartCtrl.quantity">
        <button type="button" ng-click="cartCtrl.addItem()">Add</button>
        <button type="submit" name="submitButton">Checkout</button>
        <select name="dd" id="dropdown" ng-model="cartCtrl.selectedItem">
        <option name="ddOption" ng-value="{{item}}" ng-repeat="item in cartCtrl.inventory">
            {{item[1]}}
            {{item[2]}}
        </option>
        </select>
        <br>
        <!--<img ng-src="/fruits/{{cartCtrl.getImage()}}" alt="">-->
        <div>
            <img ng-src="/fruits/{{cartCtrl.selectedItem[0]}}" alt="">
        </div>
        <div>
            <input type="text" size="30" ng-model="cartCtrl.searchText">
        </div>
        <div>
            <ol>
                <li ng-repeat="shoppingItem in cartCtrl.shoppingCart|filter:cartCtrl.searchText">
                    {{shoppingItem}}
                </li>
            </ol>
        </div>
            Total Price: {{cartCtrl.totalPrice}}
        </div>
    </form>
</body>

</html>