.bg-success{
    background-color: #ABEBC6;
    border: 1px;
    border-style:solid ;
    border-color: #145A32;
    width: auto;
    height: auto;
}
.bg-failure{
    background-color: #F5B7B1  ;
    border: 1px;
    border-style:solid ;
    border-color: #641E16;
    width: auto;
    height: auto;
}
.bg-pink{
    background-color: pink;
}
